@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

:root {
  --primaryColor: #F3BD1B;
  --secoundryColor: #FAE39E;
}

a {
  text-decoration: none;

}